
/*
.App {
  text-align: left;
}
.App-logo {
  pointer-events: none;
  height: 100%; 
  overflow: auto;
}
.navbar{
  display: flex;
  justify-content: left;
  align-items: center;
}
.App-navbar {
  background-color: #282c34;
  height: 4vmax;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}




.App-link {
  color: #61dafb;
}

.pageTitle{

}
*/